# 🔐 Variáveis sensíveis
.env
.env.*

# Chaves/tokens locais
/chaveiro*

# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambiente virtual
venv/
.env/
.venv/

# Distribuição / build
build/
dist/
*.egg-info/

# Logs
*.log

# VSCode
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db

# Testes / cache
.pytest_cache/
.coverage
htmlcov/

# Arquivos temporários
*.tmp
*.swp

# Node (caso evolua para React depois)
node_modules/

# IDEs
.idea/

backend/lixo.py
backend/teste.py